$gutter: 15px;
$breakpoints: (
        'sm': 576px,
        'md': 768px,
        'lg': 992px
);
// Mixin for media queries
@mixin media-breakpoint-up($name) {
  @if map-has-key($breakpoints, $name) {
    @media (min-width: #{map-get($breakpoints, $name)}) {
      @content;
    }
  }
}

.container {
  width: 100%;
  padding-right: $gutter /2;
  padding-left: $gutter /2;
  margin-right: auto;
  margin-left: auto;
  max-width: 1260px;
}
.row {
  display: flex;
  flex-wrap: wrap;
  margin-right: - $gutter /2;
  margin-left: - $gutter /2;
}
.col,
[class*='col-'] {
  position: relative;
  width: 100%;
  padding-right: $gutter /2;
  padding-left: $gutter /2;
}

// Generate Column Classes for all breakpoints
@mixin generate-col-classes($breakpoint) {
  @include media-breakpoint-up($breakpoint) {
    .col-#{$breakpoint}-1 {
      flex: 0 0 auto;
      width: 8.333333%;
    }
    .col-#{$breakpoint}-2 {
      flex: 0 0 auto;
      width: 16.666667%;
    }
    .col-#{$breakpoint}-3 {
      flex: 0 0 auto;
      width: 25%;
    }
    .col-#{$breakpoint}-4 {
      flex: 0 0 auto;
      width: 33.333333%;
    }
    .col-#{$breakpoint}-5 {
      flex: 0 0 auto;
      width: 41.666667%;
    }
    .col-#{$breakpoint}-6 {
      flex: 0 0 auto;
      width: 50%;
    }
    .col-#{$breakpoint}-7 {
      flex: 0 0 auto;
      width: 58.333333%;
    }
    .col-#{$breakpoint}-8 {
      flex: 0 0 auto;
      width: 66.666667%;
    }
    .col-#{$breakpoint}-9 {
      flex: 0 0 auto;
      width: 75%;
    }
    .col-#{$breakpoint}-10 {
      flex: 0 0 auto;
      width: 83.333333%;
    }
    .col-#{$breakpoint}-11 {
      flex: 0 0 auto;
      width: 91.666667%;
    }
    .col-#{$breakpoint}-12 {
      flex: 0 0 auto;
      width: 100%;
    }
  }
}

@include generate-col-classes(sm);
@include generate-col-classes(md);
@include generate-col-classes(lg);