.about-us-section {
  padding: 110px 0;

  .about-us-content {
    padding: 10px 0;
    max-width: 702px;
    line-height: 25px;
  }

  .about-banner {
    padding-top: 48px;

    img {
      display: block;
      margin-left: auto;
      margin-right: auto;
    }
  }

  .about-social-media {
    background: linear-gradient(20deg, #2E3192, #1F2287);
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    color: $white;
    border-radius: 10px;
    margin-top: -30px;
    position: relative;
    z-index: 1;
    padding: 55px 0 57px;
    @media screen and (min-width: 1260px) {
      grid-template-columns: 394px auto 391px;
    }

    & > div {
      padding: 0 30px;
      text-align: center;
      border-right: 1px solid rgba(255, 255, 255, 0.3);

      p {
        margin: 8px 0 27px;
        font-size: 20px;
        line-height: 26px;
        font-weight: 500;
      }

      &:last-child {
        border-right: none;
      }
    }
  }
}

