.page-section {
  padding: 100px 0;
}

.section-heading {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 30px;
}

.section-title {
  margin: 0;
  font-size: 35px;
  font-weight: 500;
  line-height: 64px;
}
