

.events-section {
  background: url("../images/event-section-bg-top.png") left top no-repeat, url("../images/event-section-bg-bottom.png") right bottom no-repeat;
  padding: 70px 0;
  background-color: #F8F9FE;
}

.events-section-container {
  padding-left: 48px;
}

.upcomming-event-list {
  padding: 35px 0;
}

.event-item {
  display: grid;
  grid-template-columns: 90px auto;
  gap: 55px;
  padding: 24px;
  background-color: #fff;
  border: 1px solid #AAB3DB;
  border-radius: 15px;
  align-items: center;
  margin-bottom: 17px;

  .event-date {
    text-align: center;

    h4 {
      font-size: 30px;
      font-weight: 500;
      line-height: 20px;
      margin: 0 0 10px;
    }

    p {
      font-size: 20px;
      font-weight: 500;
      line-height: 20px;
      margin: 0;

    }

  }

  .event-info {
    h3 {
      margin: 0;
      padding-bottom: 13px;
      font-size: 20px;
      line-height: 20px;

      a {
        text-decoration: none;
        color: inherit;
      }
    }

    p {
      margin: 0 0 10px 0;
      display: flex;
      align-items: center;
      gap: 9px;

      &:last-child {
        margin-bottom: 3px;
      }
    }
  }
}